@using Uplift.Models
@model Uplift.Models.ViewModels.CartSummaryVM
@using Microsoft.AspNetCore.Hosting
@{
    ViewData["Title"] = "Home page";
}                   

<h1 class="card mt-4">Order Confirmation</h1>
     
