@using Uplift.Models
@model Uplift.Models.ViewModels.CartSummaryVM
@using Microsoft.AspNetCore.Hosting
@{
    ViewData["Title"] = "Home page";
    var totalAmount = 0.0;
}

<form asp-action="Summary" method="POST">
    @if (Model.Services.Count() > 0)
    {                      
        <div class="card mt-4">
            <div class="card-header container bg-info">
                <div class="row">
                    <div class="col-12 d-none d-md-block col-md-6 text-white"><i class="fas fa-shopping-cart"></i> &nbsp; Order Summary</div>
                    <div class="col-12 offset-md-2 col-md-4 text-right">
                        <a asp-controller="Cart" asp-action="Index" class="btn bg-white form-control">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center pb-4">
                                    <span class="">Pickup Details: </span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Name"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Name" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Phone"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Phone" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Email"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Email" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Address.Street"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Address.Street" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Address.Street" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Address.City"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Address.City" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Address.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="CustomerDetails.Address.State"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="CustomerDetails.Address.State" class="form-control form-control-sm" />
                                    <span asp-validation-for="CustomerDetails.Address.State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span>Order Summary</span>
                            </h4>
                        
                            <ul class="list-group mb-3">
                                @foreach (var service in Model.Services)
                                {
                                    var serviceAmount = service.Price*service.Frequency.FrequencyCount;
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <input type="hidden" asp-for="@service.Id" />
                                            <h6 class="my-0">@service.Name</h6>
                                            <small class="text-muted">Frequency: @service.Frequency.FrequencyCount</small>
                                        </div>
                                        <span class="text-muted">$@serviceAmount</span>
                                        @{ totalAmount += serviceAmount; }
                                    </li>
                                }

                                <li class="list-group-item d-flex justify-content-between">
                                    <small class="text-primary">Total (NGN)</small>
                                    <strong class="text-primary">$@totalAmount</strong>
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 text-right">
                    <button type="submit" class="btn btn-success form-control">Place Order</button>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center">
                <h4>No items in cart</h4>
            </div>
        </div>
    }
</form>
