@{
    ViewData["Title"] = "Home page";
}
<div class="card mt-5 p-3">
    <div class="card-body">
        <div class="row">
            <div class="col-6"><h4 class="">Order List</h4></div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-end">
                <a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Order" asp-action="Upsert"><i class="fa fa-plus"></i> &nbsp; Create New</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="orderTable" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Total Items</th>
                            <th scope="col">Total Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}
