@{
    ViewData["Title"] = "Home page";
}

<div class="card fluid mt-5">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-6"><h4 class="">File List</h4></div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-end">
                <a class="btn btn-success btn-sm" asp-area="Admin" asp-controller="FileUpload" asp-action="Upsert"><i class="fa fa-plus"></i> &nbsp; Upload File</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table id="fileUploadTable" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/fileUpload.js"></script>
}
