@model Uplift.Models.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Upsert";
    var title = "Create Service";
}

<div class="container">
    <div class="card mt-5">
        <div class="card-body p-4">
            <form method="POST" asp-action="Upsert" enctype="multipart/form-data">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (Model.Service != null && Model.Service.Id != 0)
                    {
                        <input type="hidden" asp-for="Service.Id">
                        title = "Edit Service";
                    }
                    <div class="col-12">
                        <h4>@title</h4>
                        <br />
                    </div>

                    <div class="col-9">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.Name"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Service.Name" class="form-control form-control-sm">
                                <span asp-validation-for="Service.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.Description"></label>
                            </div>
                            <div class="col-8">
                                <textarea asp-for="Service.Description" class="form-control" style="height: 200px"></textarea>
                                <span asp-validation-for="Service.Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.Price"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Service.Price" class="form-control form-control-sm">
                                <span asp-validation-for="Service.Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.CategoryId"></label>
                            </div>
                            <div class="col-8">
                                <select asp-for="Service.CategoryId" class="form-control form-control-sm" asp-items="Model.Categories"></select>
                                <span asp-validation-for="Service.CategoryId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.FrequencyId"></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Service.FrequencyId, Model.Frequencies, "- Please select a Frequency",
                                    new { @class = "form-control form-control-sm" })
                                <span asp-validation-for="Service.FrequencyId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Service.ImageUrl"></label>
                            </div>
                            <div class="col-8">
                                <input type="file" name="files" multiple id="fileUpload" class="form-control form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-4 col-8">
                                @if (Model.Service != null && Model.Service.Id != 0)
                                {
                                    <partial name="_EditAndBackToListButton" model="Model.Service.Id" />
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                                        </div>
                                        <div class="col">
                                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Service != null && Model.Service.Id != 0)
                    {
                        <div class="col-3">
                            <img width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9" src="@Model.Service.ImageUrl" />
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });

        function validateInput() {
            if (document.getElementById("fileUpload").value === "") {
                swal("Error", "Please Select an Image", "error");
                    return false;
            }

            return true;
        }
    </script>
}
